version: :3.4
services:
  jaeger:
    image: jaegertracing/all-in-one:1.49
    container_name: "jaeger-container"
    ports: 
           - 4317:4317 #gRPC: Sunucuda calisan bir fonksiyona ag üzerinden çagri yaparsin ama kodda sanki o fonksiyon localdeymis gibi görünür.
           - 4318:4318 #HTTP bunu grpc üzerinden saglicaz.
           - 16686:16686 #UI
